i.card-button {
  position: absolute;
  top: 8px;
  color: black;
  background-color: white;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 2;
}

.card-button.card-button-refresh {
  right: 8px;
}
.card-button.card-button-clear {
  left: 8px;
}
