.table,
.table-body {
  width: 100%;
  max-height: 100%;
  border-collapse: collapse;
}

.table-body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.table-row {
  line-height: 20px;
}

.name,
.amount {
  padding: 5px;
  height: 30px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.name {
  width: 70%;
}

.amount {
  width: 30%;
  text-align: right;
  border-left: 1px solid grey;
}
