.ratings-container {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ratings-container li {
  padding: 0 1px;
  color: lightgray;
  float: right;
}

.ratings-container i {
  font-size: 1rem;
}

.ratings-container li:hover,
.ratings-container li:hover ~ li {
  color: gold;
}

.ratings-container i.selected-star {
  color: gold;
  text-shadow: 0 0 3px black;
}
