.edit-form {
  width: 100%;
  border-top: 1px solid black;
  margin-top: 30px;
  padding: 10px;
}

.edit-form legend {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.edit-form > fieldset {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.edit-form .attribute {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px 0;
  margin: 0;
  box-sizing: border-box;
}

.edit-form input {
  width: 50%;
  height: 100%;
  margin: 0;
  margin-top: 2px;
}

.edit-form .full-width {
  width: 100%;
  box-sizing: border-box;
}

.edit-form .time {
  width: 10%;
}

.edit-form input[type='file' i] {
  width: 100%;
  background-color: #fff;
}

.edit-form input[type='radio'] {
  height: 1rem;
}

.edit-form .recipe-source {
  display: inline-block;
  margin-top: 10px;
}

.edit-form .recipe-source input {
  width: 1rem;
  display: inline-block;
  margin: 2px;
}

.edit-form .recipe-source label {
  display: inline-block;
  margin-right: 8px;
}

.edit-form .radio-container {
  margin-bottom: 20px;
}

.edit-form .radio-group-label {
  margin: 0 0 5px 0;
}
