.ratings {
  display: inline;
  height: 38%;
  width: 100%;
  margin-left: 5px;
}

.ratings i {
  display: inline;
  margin-left: 2px;
}

.ratings i.selected-star {
  color: gold;
  text-shadow: 0 0 3px black;
  font-size: 1rem;
}
